<% wrap_layout "blog/layout" do %>
  <div class="h-entry">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-half">
            <h1 class="title is-1 has-text-centered p-name"><%= current_page.data.title %></h1>
          </div>
        </div>
      </div>
    </div>

    <article class="section blog-article h-entry">
      <div class="columns">
        <div class="column is-three-fifths is-offset-one-fifth is-size-5 e-content">
          <%= yield %>
        </div>
      </div>

      <footer class="has-text-centered is-italic has-text-weight-light has-text-grey-light">
        <time class="dt-published" datetime="<%= current_page.data.date&.iso8601 %>"><%= current_page.data.date&.strftime("%d %b %Y") %></time>
      </footer>
    </article>
  </div>
<% end %>
