body {
  font-family: Merriweather serif;
  background-color: #fafafa;
}
.main-background {
  background-image: url('https://vasilakisfil.social/images/cover.jpg');
  background-size: cover;
}
.navbar-link.has-arrow-white::after {
  border-color: white;
}

.navbar-link.has-arrow-black::after {
  border-color: black;
}
body {
  scrollbar-width: none;
}
::-webkit-scrollbar { 
    display: none; 
}
.is-horizontal-center {
  justify-content: center;
}
.profile-image {
  border-radius: 100%;
  box-shadow: #E7EEF2 0 0 0 1px;
  padding: 6px;
  background-color: #fafafa;
  margin-bottom: 1%;
}
