body {
  font-family: Merriweather serif;
  background-color: #fafafa;
}
section {
  background-color: #fafafa;
}

html, body {
  margin: 0;
  min-height: 100%;
  height: 100%;
}
.main-background {
  background-image: url('https://vasilakisfil.social/images/cover.jpg');
  background-size: cover;
}
.navbar-link.has-arrow-white::after {
  border-color: white;
}

.navbar-link.has-arrow-black::after {
  border-color: black;
}
body {
  scrollbar-width: none;
}
::-webkit-scrollbar { 
    display: none; 
}
.is-horizontal-center {
  justify-content: center;
}
.profile-image {
  border-radius: 100%;
  box-shadow: #E7EEF2 0 0 0 1px;
  padding: 6px;
  background-color: #fafafa;
  margin-bottom: 1%;
}
.aspect-ratio {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 75%;
}
.aspect-ratio.wide {
  padding-bottom: 56%;
}
.aspect-ratio iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.margin-top-3 {
  margin-top: 3% !important;
}
.margin-bottom-5 {
  margin-bottom: 5% !important;
}
