<footer class="footer">
  <figure class="image container is-128x128 profile-image">
    <img class="is-rounded" src="https://vasilakisfil.social/images/logo.jpg">
  </figure>
  <div class="content has-text-centered">
    <h4 class="title is-5"> Filippos Vasilakis </h4>
    <p class="subtitle is-6"> Web Engineer </p>
    <p class="subtitle">
      <a class="inverted" href="https://github.com/vasilakisfil"><i class="fab fa-github"></i></a>
      <a class="inverted" href="https://twitter.com/vasilakisfil"><i class="fab fa-twitter"></i></a>
    </p>
    <p><i class="fas fa-map-marker-alt"></i> <span>Stockholm, Sweden & Athens, Greece</span></p>
  </div>
</footer>
