---
title: About
navbar:
  navbar_link:
    css: has-arrow-black
---
<section class="section">
  <h1 class="title is-1 has-text-centered"><%= current_page.data.title %></h1>
  <div class="columns">
    <div class="column is-three-fifths is-offset-one-fifth is-size-5">
      <p class="has-text-justified">
        I am a software engineer who loves crafting web services.
        Worked mostly with Ruby and Javascript, but familiar with C/Go/Java/C++ as well.
        REST APIs specialist.
        Optimizing services for low latency and high throughput is my thing. Pure interest in networks and services.
      </p>
      <br />
      <p class="has-text-justified">
        Experienced with remote working.
      </p>
    </div>
  </div>

</section>
