---
title: Filippos Vasilakis
section:
  css: 
---
<% partial("shared/navbar", locals: { data: current_page.data}) do %>
  <div class="hero-body has-text-centered">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-half">
          <%= partial("shared/h_card", locals: {data: data}) %>
        </div>
      </div>
    </div>
  </div>
<% end %>
