---
navbar:
  navbar_link:
    css: has-arrow-black
---
<%= partial("shared/navbar", locals: { data: current_page.data}) %>

<section class="section">
  <h1 class="title is-1 has-text-centered">Side Projects</h1>

  <div class="columns">
    <div class="column is-three-fifths is-offset-one-fifth is-size-5">
      <p class="has-text-justified margin-bottom-5">
      Apart from my work, on my spare time I like building things that could be useful to others.
      Here I list some of my side projects in random order.
      </p>

    </div>
  </div>

  <div class="columns">
    <div class="column is-three-fifths is-offset-one-fifth is-size-5">
      <h4 class="title is-4"><a href="https://github.com/vasilakisfil/SimpleAMS">SimpleAMS</a></h4>
      <p class="subtitle is-5 has-text-justified margin-bottom-5">
      Apart from my work, on my spare time I like building things that could be useful to others.
      Here I list some of my side projects.
      </p>

      <h4 class="title is-4"><a href="http://introspected.rest">Introspected REST</a></h4>
      <p class="subtitle is-5 has-text-justified margin-bottom-5">
      Apart from my work, on my spare time I like building things that could be useful to others.
      Here I list some of my side projects.
      Apart from my work, on my spare time I like building things that could be useful to others.
      Here I list some of my side projects.
      </p>

      <h4 class="title is-4"><a href="https://github.com/vasilakisfil/rails5_api_tutorial">Rails 5 API tutorial</a></h4>
      <p class="subtitle is-5 has-text-justified margin-bottom-5">
      Apart from my work, on my spare time I like building things that could be useful to others.
      Here I list some of my side projects.
      </p>

      <h4 class="title is-4"><a href="https://github.com/vasilakisfil/api_bomb">api_bomb</a></h4>
      <p class="subtitle is-5 has-text-justified margin-bottom-5">
      Apart from my work, on my spare time I like building things that could be useful to others.
      Here I list some of my side projects.
      </p>

      <h4 class="title is-4"><a href="https://github.com/kollegorna/active_hash_relation">active_hash_relation</a></h4>
      <p class="subtitle is-5 has-text-justified margin-bottom-5">
      Apart from my work, on my spare time I like building things that could be useful to others.
      Here I list some of my side projects.
      </p>

      <h4 class="title is-4"><a href="https://github.com/kollegorna/class_profiler">class_profiler</a></h4>
      <p class="subtitle is-5 has-text-justified margin-bottom-5">
      Apart from my work, on my spare time I like building things that could be useful to others.
      Here I list some of my side projects.
      </p>
    </div>
  </div>
</section>
